/* USING THE @IMPORT RULE AND GOOGLE FONTS, CONNECT TWO FONTS TO THE CSS HERE */
/* SCROLL DOWN FOR THE NEXT INSTRUCTION IN COMMENTS */
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=+Arials&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, sans-serif;
  min-width: 800px;
}
h1 {
  font-size: 2em;
  padding: 15px 20px;
}
nav {
  background-color: #010440;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 2px solid #f2c744;
  text-align: center;
}
nav h2 {
  visibility: hidden;
  height: 1px;
}
nav li {
  display: inline-block;
  list-style: none;
  padding: 15px 20px;
}
nav a {
  text-decoration: none;
  color: #d9d8d7;
  text-transform: uppercase;
  font-weight: bold;
}
nav a:hover {
  color: #f2c744;
}
main {
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
}
section {
  padding: 15px 20px;
  line-height: 1.75em;
}
main a {
  text-decoration: none;
  border-bottom: 2px dotted #010440;
  color: #010440;
  font-style: italic;
}
main a:hover {
  color: #bf9004;
  border-bottom: 2px solid #bf9004;
}
#shapes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#shapes h2 {
  grid-column: 1/4;
}
/* CREATE A SQUARE SHAPE WITH THE COLOR #010440 */
#square {
  height: 50px;
  width: 50px;
  background-color: #010440;
}
/* CREATE A CIRCLE SHAPE WITH THE COLOR #BF9004*/
#circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #bf9004;
}
/* CREATE A OVAL SHAPE WITH THE COLOR #8C3B0D*/
#oval {
  height: 50px;
  width: 100px;
  border-radius: 50%;
  background-color: #8c3b0d;
}
/* CREATE A DIAMOND SHAPE WITH THE COLOR #010440 */
#diamond {
  border-style: solid;
  border-color: transparent transparent #010440 transparent;
  border-width: 0 25px 25px 25px;
  height: 0;
  width: 50px;
  box-sizing: content-box;
  position: relative;
  margin: 20px 0 50px 0;
}
#diamond:after {
  content: "";
  position: absolute;
  top: 25px;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #010440 transparent transparent transparent;
  border-width: 70px 50px 0 50px;
}

/* CREATE A CONE SHAPE WITH THE COLOR #BF9004 */
#cone {
  height: 0;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid #bf9004;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* CREATE A BASEBALL BASE SHAPE WITH THE COLOR #8C3B0D */
#base {
  margin-top: 0px;
  width: 0;
  height: 0;
  border: 50px solid #8c3b0d;
  border-color: transparent;
  border-bottom-color: #8c3b0d;
  position: relative;
  top: -50px;

  border-style: solid;
}
#base::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 50px;
  left: -50px;
  border: 50px solid #8c3b0d;
  border-bottom: transparent;
}
#pentgon::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: #8c3b0d;
}
/* APPLY ONE OF THE GOOGLE FONTS YOU IMPORTED HERE */
#fonts h2 {
}
/* APPLY THE OTHER OF THE GOOGLE FONTS YOU IMPORTED HERE */
#fonts p {
}
#svg,
#clipping,
#masking,
#dimming {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#svg h2,
#clipping h2,
#masking h2,
#dimming h2 {
  grid-column: 1/3;
}
/* FILL THE SVG WITH THE COLOR #990033 */
svg {
}
/* ON HOVER, FILL THE SVG WITH THE COLOR #BF9004 */
svg:hover {
  fill: #bf9004;
}
img {
  width: 100%;
}
/* CLIP THIS INTO A CIRCLE */
#circle-clip {
  
  position: relative;
  clip-path: circle(38%);
}
/* CLIP THIS INTO A POLYGON */
#poly-clip{
  /* margin: 0px; */
  position: relative;
 clip-path: polygon(
  20% 0%,
  80% 0%,
  100% 20%,
  100% 80%,
  80% 100%,
  20% 100%,
  0% 80%,
  0% 20%
 );
 
 }
 
/* USE AN SVG FILE TO MASK THIS */
#svg-mask {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOTguNjcgMjg4LjIyIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjtzdHJva2U6IzIzMWYyMDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48L2RlZnM+PHBvbHlnb24gY2xhc3M9ImNscy0xIiBwb2ludHM9IjI0MS4wMyAyODcuMjQgMTQ5LjM4IDIzOC4zOSA1Ny43NiAyODcuMyA3NS4yMiAxODMuNzcgMS4wNiAxMTAuNDggMTAzLjUxIDk1LjM0IDE0OS4zIDEuMTQgMTk1LjE1IDk1LjMxIDI5Ny42IDExMC4zOSAyMjMuNDkgMTgzLjcyIDI0MS4wMyAyODcuMjQiLz48L3N2Zz4=);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOTguNjcgMjg4LjIyIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjtzdHJva2U6IzIzMWYyMDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48L2RlZnM+PHBvbHlnb24gY2xhc3M9ImNscy0xIiBwb2ludHM9IjI0MS4wMyAyODcuMjQgMTQ5LjM4IDIzOC4zOSA1Ny43NiAyODcuMyA3NS4yMiAxODMuNzcgMS4wNiAxMTAuNDggMTAzLjUxIDk1LjM0IDE0OS4zIDEuMTQgMTk1LjE1IDk1LjMxIDI5Ny42IDExMC4zOSAyMjMuNDkgMTgzLjcyIDI0MS4wMyAyODcuMjQiLz48L3N2Zz4=);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
}
#circle-clip1{
  
  position: relative;
  top: -20%;
  clip-path: circle(38%);
  
}

/* USE A GRADIENT TO MASK THIS */
#gradient-mask {
  height: 286px;
  background-image: linear-gradient(rgb(255,255,255,0.7) 50%, transparent 50%, );
}
#poly-clip1{
  /* margin: 0px; */
  position: relative;
  top: 0%;
 clip-path: polygon(
  0% 0%,
  100% 0%,
  100% 80%,
  80% 100%,
  20% 100%,
  0% 80%,
  0% 20%
 );
 
 }
/* DIM THIS CAPTION USING RGBA IN THE BACKGROUND COLOR*/
figcaption {
  color: #ffffff;
  line-height: 2em;
  text-align: center;
  position: relative;
  bottom: 40px;
}
#blur {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 28" width="56" height="28"%3E%3Cpath fill="%239C92AC" fill-opacity="1" d="M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z"%3E%3C/path%3E%3C/svg%3E');
}
/* BLUR THIS IN THE BACKGROUND */
#blur p,
#blur h2 {
  padding: 10px;
}
